@charset "utf-8";

/*sid huvudet*/
header{
    background-color: #515151;
    color: #000;
}
/*navigering*/
nav{
    background-color: #515151;
    color: #000;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    border: black solid;
    overflow: hidden;
}

nav li, .dropdown {
    float: left;
}
nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a, .dropbtn {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav     li a:hover, .dropdown:hover .dropbtn {
    background-color: #111;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border: 100px color black;
    z-index: 1;
}

.dropdown-content a {
    color: white;
    text-decoration: none;
    border: 100px color black;
    display: block;
    text-align: right;
}

.dropdown-content a:hover {
    background-color: #000000
}

.dropdown:hover .dropdown-content {
    display: block;
}
/*huvuddel*/
main{
    background-color: #515151;
    color: #000000;
}
/*sidfot*/
footer{
    background-color: #515151;
    color: #000;
}

body{
  background-color: #515151;
  font-family: sans-serif;
}
button{
    background-color: #333;
    font-family: sans-serif;
    color: #fff;
    border: 100px and black;
}